@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #4723d9;
    --first-color-light: #afa5d9;
    --white-color: #f7f6fb;
    --body-font: "Nunito", sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
}

@font-face {
    font-family: "retroica";
    src: url("../fonts/retroica_400-webfont.woff2") format("truetype");
    src: url("../fonts/retroica_400-webfont.woff") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    color: #000;
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
}

.mean-container {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: 0.5s;
}

a {
    color: #ec4f2c;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: #ec4f2c;
}

.mb-3 {
    margin-bottom: 30px !important;
}

.mb-4 {
    margin-bottom: 40px !important;
}

.container {
    max-width: 1350px;
}
.container1 {
    max-width: 1350px;
    min-height: 400px;
    padding-left: 10%;
}

.top-menu .navbar {
    margin-top: 0px !important;
}

.top-menu .navbar-expand-lg .navbar-nav {
    flex-direction: inherit;
    float: right;
}

.top-menu .navbar-expand-lg .navbar-nav li {
    font-size: 24px;
    padding-right: 25px;
}

.top-menu .navbar-expand-lg .navbar-nav li a {
    color: #0b1623 !important;
    font-weight: 400;
}

.top-menu .navbar-expand-lg .navbar-nav li a.blow-btn {
    background-color: #0b1623;
    color: #fff !important;
    padding: 6px 30px;
    border-radius: 50px;
}

.top-menu .navbar-expand-lg .navbar-collapse {
    display: inline-block !important;
}

.inr-wrapper {
    background: url(../images/banner1.png) no-repeat;
    padding: 80px 31px;
    background-size: cover;
    background-position: 100% 20%;
}

.inr-wrapper h2 {
    font-size: 45px;
    font-family: "retroica";
    font-weight: 600;
    background: -webkit-linear-gradient(to right, #57104f 0%, #f25428 100%);
    background: -moz-linear-gradient(to right, #57104f 0%, #f25428 100%);
    background: linear-gradient(to right, #57104f 0%, #f25428 10%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer {
    background-color: #f3f3f3;
    padding: 40px 31px;
    position: relative;
}

footer.pd-box {
    padding: 40px 31px;
}

footer h3 {
    margin-top: 0px;
    color: #0b1623;
    font-size: 40px;
    font-weight: 600;
    font-family: "retroica";
    margin-bottom: 30px;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    margin-bottom: 16px;
    list-style: none;
    font-size: 18px;
    font-weight: 600;
}

footer ul li a {
    color: #0b1623;
    text-decoration: none;
}

.footer_list {
    font-family: "Nunito", sans-serif;
}

.footer-con {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #0b1623;
    padding-top: 15px;
}

.footer-con p {
    margin-bottom: 0px;
}

.about-bg {
    position: relative;
    padding: 60px 140px 100px;
}

.arrow-pl {
    background: url(../images/arrow.png) no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 176px;
    height: 156px;
}

.about-text {
    padding: 10px 200px 10px 200px;
}

.about-text h6,
.text-wpl h6 {
    font-weight: 600;
    font-size: 20px;
}

.text-wpl {
    margin-top: 50px;
}

p {
    font-family: "Nunito", sans-serif;
}

.small-bg {
    padding: 100px 10px;
    position: relative;
}

.small-wrapper {
    width: 700px;
    margin: 0 auto;
}

.dashboard-ctr {
    width: 1000px;
    margin: 0 auto;
}

.panel {
    width: 500px;
    margin: 0 auto;
}

.panel-con {
    width: 100%;
    /* margin: 0 5%; */
    align-items: center;
}

.small-bg h2 {
    margin-bottom: 25px;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    color: #000;
    font-family: "retroica";
}

.title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
}

.small-bg ul {
    margin: 0;
    padding: 0;
}

.small-bg ul li {
    list-style: none;
    padding-bottom: 40px;
}

.input-panel .plus.button,
.input-panel .min.button {
    padding: 5px;
    cursor: pointer;
    background: black;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
}

.input-panel .plus.button:hover,
.input-panel .min.button:hover {
    background: black;
}

.input-panel input {
    width: 80%;
    text-align: center;
    padding: 5px !important;
    border-radius: 0;
    border: 2px solid #000;
    box-shadow: 0px 0px 6px #a9a5a5;
}

input,
textarea,
select {
    width: 100%;
    text-align: left;
    padding: 8px 20px !important;
    border-radius: 0;
    border: 1px solid #e8e8e8 !important;
    box-shadow: 0px 0px 6px #cccccc;
}

.input-panel {
    position: relative;
}

.input-panel .plus {
    position: absolute;
    left: 0;
}

.input-panel .min {
    position: absolute;
    margin-left: -40px;
}

.txt-ct {
    text-align: center;
    margin-top: 25px;
    width: 80%;
}

.btn-danger {
    font-size: 16px;
    font-weight: 600;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    padding: 10px 40px;
    background: #5a1050;
    background: -webkit-linear-gradient( to left, #5a1050 0%, #a91f4c 50%, #f05229 100%);
    background: -moz-linear-gradient( to left, #5a1050 0%, #a91f4c 50%, #f05229 100%);
    background: linear-gradient(to left, #5a1050 0%, #a91f4c 50%, #f05229 100%);
}

.btn-black {
    font-size: 16px;
    font-weight: 600;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 40px;
    background: #5a1050;
    background: -webkit-linear-gradient( to left, #5a1050 0%, #a91f4c 50%, #f05229 100%);
    background: -moz-linear-gradient( to left, #5a1050 0%, #a91f4c 50%, #f05229 100%);
    background: linear-gradient(to left, #5a1050 0%, #a91f4c 50%, #f05229 100%);
}

.btn-border {
    font-size: 16px;
    font-weight: 600;
    font-weight: 600;
    color: #ea4d2d;
    border: 2px solid #ea4d2d;
    border-radius: 50px;
    padding: 10px 40px;
    background-color: transparent;
}

.paypal {
    margin-top: 40px;
}

.forgot-text {
    text-align: right;
    margin-top: 15px;
}

.forgot-text a {
    color: #000;
    text-decoration: none;
}

.orange-wrp {
    background: url(../images/bg.jpg) repeat;
    background-size: contain;
    padding: 90px 40px;
    text-align: center;
    position: absolute;
    left: 0px;
    right: 100px;
    width: 100%;
    margin: 0 auto;
    top: -140px;
}

.orange-wrp h2 {
    color: #fff;
    margin-bottom: 20px;
}

footer.pd-wrp {
    padding-top: 220px;
    margin-top: 150px;
}

.text-wpl h6 {
    color: #f85826;
}

.logo {
    padding-top: 20px;
}

.pikpok {
    text-align: center;
    padding-left: 70px;
}

.pikpok img {
    width: 110px;
    height: 60px;
    object-fit: contain;
}

.offcanvas-header {
    display: block;
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.squad-wrp .input-panel input {
    width: 100%;
}

header.top-menu .navbar {
    margin-top: 15px !important;
}

.top-menu .logo {
    padding-top: 28px;
}

.gray-bg {
    background-color: #fafbfc;
    border: 1px solid #ededed;
    padding: 30px;
}

.red {
    background-color: #db232e;
}

.yellow {
    background-color: #edb014;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    margin-top: 10px;
}

.form-check input {
    padding: 10px 12px !important;
    margin-right: 10px;
}

.form-check label {
    font-size: 13px;
    font-weight: 600;
}

.progress-bar {
    background-color: #52df26;
}

.match-text ul {
    margin: 0;
    padding: 0;
    margin-top: -5px;
}

.match-text ul li {
    display: inline-block;
    padding-right: 25px;
    text-align: center;
    color: #52df26;
}

p.match-text {
    color: #52df26;
    margin-top: -5px;
}

.training {
    text-align: center;
}

.list ul {
    margin: 0;
    padding: 0;
}

.list ul li {
    padding-bottom: 8px;
}

.small-list img {
    width: 100%;
    height: auto;
}

.sprint {
    text-align: left;
}

.trg-panel {
    padding-top: 60px;
}

.trg-panel p {
    text-align: left;
}

.certified {
    padding-top: 80px;
    padding-bottom: 80px;
}

.trg-panel img,
.certified img {
    width: 100%;
    height: auto;
}

.asked-bg .accordion {
    text-align: left;
}

.accordion-button {
    padding: 15px !important;
    border-radius: 0;
    border: none;
    box-shadow: 0px 0px 6px #a9a5a5 !important;
    background-color: transparent !important;
    color: #000 !important;
}

.accordion-item {
    border: none;
    margin-bottom: 25px;
}

.accordion-body {
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.gray-wrp {
    background-color: #fafbfc;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 20px;
    margin-bottom: 30px;
}

.gray-wrp h2 {
    font-size: 26px;
}

.gray-wrp h5 {
    font-size: 20px;
    color: #db232e;
    font-weight: 600;
}

.gray-wrp img {
    width: 100%;
    height: auto;
}

.panel-con .input-group {
    display: block;
}

.user-table {
    background-color: #fff;
    font-size: 16px;
    width: 100%;
}

.user-table th,
.user-table td {
    text-align: center;
}

.user-table ul {
    margin: 0;
    padding: 0;
}

.user-table ul li {
    list-style: none;
    padding-right: 5px;
    display: inline-block;
}

.user-table ul li a {
    color: #000;
}

.user {
    padding-top: 40px;
}

.user h5 {
    font-size: 18px;
    font-weight: 600;
}

.white-box {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #e8e8e8 !important;
    box-shadow: 0px 0px 6px #cccccc;
    text-align: justify;
    position: relative;
    max-height: 60%;
}


/* .box-pl{
	min-height: 100px;
} */

.box-con {
    width: 14px;
    height: 14px;
    border-radius: 60px;
    margin-top: 2px;
}

.box-green {
    background-color: #4fe022;
}

.box-orange {
    background-color: #ef522a;
}

.box-yellow {
    background-color: #ff8a00;
}

.white-box ul li {
    display: inline-block;
    margin-bottom: 0px !important;
    padding-bottom: 0px;
    vertical-align: middle;
}

.white-box .tribe-bx {
    text-align: left;
}

.icn-rd {
    position: absolute;
    right: 18px;
    top: 16px;
}

.white-box.left-txt {
    text-align: left;
}

.status img {
    width: 100%;
    height: auto;
}

.or-mg {
    margin-left: 64px;
}

.btn-white {
    background-color: #fff;
    border: 1px solid #efefef;
    border-radius: 50px;
    padding: 10px 24px;
}

.user-wrp {
    text-align: right;
    padding-top: 2px;
}

.user-wrp img {
    width: 110px;
    height: auto;
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #fff;
    z-index: var(--z-fixed);
    transition: 0.5s;
}

.header_toggle {
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.header_img img {
    width: 40px;
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background: linear-gradient(to bottom, #57104f 0%, #f25428 95%);
    padding: 0.5rem 1rem 0 0;
    transition: 0.5s;
    z-index: var(--z-fixed);
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: 0.5rem 0 0.5rem 1.5rem;
}

.nav_logo {
    margin-bottom: 2rem;
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color);
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700;
}

.nav_link {
    position: relative;
    color: #fff;
    margin-bottom: 1.5rem;
    transition: 0.3s;
}

.nav_link:hover {
    color: #000;
}

.nav_icon {
    font-size: 1.25rem;
}

.show {
    left: 0;
}

.white-box {
    background-color: #f6f6f6;
    color: #000;
}

.white-box h4,
.white-box p {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.white-box h4 {
    font-size: 18px;
    font-weight: 600;
}

.bdr {
    border-right: 1px solid #b9b9b9;
    padding-left: 15px;
}

.pre-hide {
    display: none;
}

#hide-panel {
    width: 90%;
    background-color: #000;
    color: #fff;
    padding: 20px 20px 10px;
    margin-right: auto;
    margin-left: 0;
    float: right;
}

.calendar-icn {
    position: relative;
}

.all-pnl {
    position: relative;
}

#datepicker,
#datepicker2 {
    right: 20px;
    position: absolute;
    color: #000;
    top: 12px;
    font-size: 18px;
}

.ftr-box input {
    box-shadow: inherit;
}

.ftr-box {
    border-top: 4px solid #e94d2f;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .mean-container {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 0rem);
    }
    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }
    .header_img {
        width: 40px;
        height: 40px;
    }
    .header_img img {
        width: 45px;
    }
    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0;
    }
    .show {
        width: calc(var(--nav-width) + 156px);
    }
    .body-pd {
        padding-left: calc(var(--nav-width) + 188px);
    }
}


/* ########################### */

.Trusted .trust-btn {
    padding: 10px 20px;
    color: #ff0080;
    border-color: #ff0080;
}

.Trusted .t-icons {
    display: flex;
}

.Trusted .t-right {
    background-color: #e4e4e4;
    ;
    padding: 30px;
}


/* .Trusted .t-right h4 {
  margin-top: 30px;
} */

.Trusted .t-right .pic {
    margin-top: 30px;
}

.built4success {
    margin-top: 50px;
    margin-bottom: 80px;
}

.built4success .bs-head {
    color: grey;
    text-transform: uppercase;
}

.built4success h1 span,
.Trusted .t-gradient {
    background: linear-gradient(to right, #480640 2%, #f25428 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.built4success .bs-cards {
    display: flex;
    margin-top: 30px;
}

.built4success .bs-card:nth-child(2) {
    margin: 0 20px;
}

.built4success .bs-card img {
    width: 50px;
}

.built4success .bs-card h5 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.built4success .bs-card p {
    font-size: 15px;
}

.built4success .bs-card h6 {
    color: #ff0080;
    font-weight: bold;
}

.topEmptyBox {
    /* margin: 20px 140px 30px; */
    margin-top: 20px;
    max-width: 100%;
    background-color: #f6f6f6;
    padding-top: 30px;
}

.topEmptyBox .topboxInner {
    margin: 0 30px 5px;
}

.topEmptyBox .topboxInner h4 {
    text-align: center;
}

.topEmptyBox .topboxline {
    width: 100%;
    height: 5px;
    background: linear-gradient(to top, #5a1050 0%, #a91f4c 50%, #f05229 100%);
}

.white-box.modify {
    text-align: left;
}

.white-box.modify .sm-line {
    width: 30px;
    height: 4px;
    background-color: #ff9c78;
    margin-bottom: 20px;
}

.white-box.modify h4 {
    font-size: 20px;
    font-weight: 400;
}

.white-box.modify .p1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
}

.white-box.modify .p3 {
    display: block;
    margin-top: 20px;
    font-size: 12px;
}

.white-box.modify .fa {
    color: #ff9c78;
}